@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

* {
  font-family: "Do Hyeon";
}

header {
  position: fixed;
  z-index: 8;
  width: 100%;
  left: 0;
  top: 0;
  font-family: "Do Hyeon", sans-serif;
  padding: 20px;
}

header nav {
  display: none;
  line-height: 1.2;
}

header nav a {
  color: #000;
  text-transform: uppercase;
}

header nav a:hover {
  color: #FFB6C1;
}

header nav.active {
  display: block;
  -webkit-animation: menu .3s forwards;
          animation: menu .3s forwards;
}

@-webkit-keyframes menu {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes menu {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

header .head {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head p.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head p.burger-menu span {
  display: inline-block;
}

header .head p.burger-menu a {
  margin-left: 5px;
  position: relative;
  width: 20px;
}

header .head p.burger-menu a span {
  position: absolute;
  left: 0;
  top: -3px;
  border-top: 2px solid #000;
  width: 100%;
  height: 5px;
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .head p.burger-menu a span:nth-of-type(1) {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

header .head p.burger-menu a span:nth-of-type(3) {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

header .head p.burger-menu.active > span {
  display: none;
}

header .head p.burger-menu.active > a span:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translateX(-1px);
          transform: rotate(45deg) translateX(-1px);
}

header .head p.burger-menu.active > a span:nth-of-type(2) {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 0;
}

header .head p.burger-menu.active > a span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translateX(1px);
          transform: rotate(-45deg) translateX(1px);
}

main {
  font-family: "Do Hyeon", sans-serif;
}

main article {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main article .intro {
  width: 100%;
  padding: 0 12.5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main article .intro .txt {
  width: 80%;
}

main article .intro .txt h2 {
  font-size: 150px;
  letter-spacing: 6px;
  line-height: 1;
}

main article .intro .txt p {
  font-size: 40px;
  letter-spacing: 3px;
}

main article .intro .view {
  width: 50%;
}

main article .intro .view figure img {
  width: 100%;
}

main article .swiper-slide .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main article .swiper-slide .work .work_view {
  width: 1040px;
  border: 3px solid #000;
  border-radius: 5%;
  height: 500px;
}

main article .swiper-slide .work .work_txt {
  white-space: pre-line;
  width: 40%;
  padding: 5%;
}

main article .swiper-slide .work .work_txt p {
  font-size: 22px;
}

main article .swiper-slide .work .work2_view {
  width: 360px;
  height: 640px;
  border: 3px solid #000;
  border-radius: 10%;
}

main article .next {
  position: absolute;
  right: 3%;
  top: 40%;
}

main article .next span {
  display: block;
  border-right: 4px solid #000;
  width: 100px;
  height: 40px;
}

main article .next span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

main article .next span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

aside {
  position: fixed;
  z-index: 9;
  left: 12.5%;
  bottom: 0;
  width: 75%;
  text-align: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
}

aside.active {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

aside .s1_arrow {
  display: inline-block;
  position: relative;
  text-align: center;
}

aside .s1_arrow .scroll-arrow {
  width: 8px;
  height: 8px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-animation: arrow-wave 1s infinite;
          animation: arrow-wave 1s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

aside .s1_arrow .scroll-arrow:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

aside .s1_arrow .scroll-arrow:nth-child(2) {
  margin-top: 6px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

aside.active .s1_arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

aside .profile p {
  font-size: 25px;
  padding-bottom: 1.5%;
}

aside .about {
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 20px;
  background: #141414;
  color: #fff;
  width: 100%;
  height: 90vh;
  overflow: auto;
}

aside .about h2 {
  font-size: 90px;
  margin-top: 50px;
}

aside .about .contents .who {
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto auto;
  padding: 0 5%;
}

aside .about .contents .who p {
  font-size: 50px;
  margin: 2% auto;
}

aside .about .contents .who .who-box {
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside .about .contents .who .who-box .left {
  width: 40%;
}

aside .about .contents .who .who-box .left .photo {
  width: 90%;
  -webkit-transform: translate(-60px, 30px);
          transform: translate(-60px, 30px);
}

aside .about .contents .who .who-box .left .photo img {
  width: 100%;
}

aside .about .contents .who .who-box .right {
  text-align: left;
  padding-top: 30px;
  width: 60%;
}

aside .about .contents .who .who-box .right strong {
  font-size: 20px;
  font-family: 'Noto Sans KR';
}

aside .about .contents .who .who-box .right .who-txt {
  font-size: 16px;
  font-family: 'Noto Sans KR';
}

aside .about .contents .who .who-box .right .icon {
  padding: 5% 0;
}

aside .about .contents .who .who-box .right .icon .icon_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside .about .contents .who .who-box .right .icon .icon_ul li {
  text-align: center;
  padding: 0 5%;
}

aside .about .contents .who .who-box .right .icon .icon_ul li .icon_txt {
  font-size: 16px;
}

aside .about .contents .skill {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10%;
}

aside .about .contents .skill p {
  font-size: 50px;
  margin: 5% 0 6% 0;
}

aside .about .contents .skill .skill_ul {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside .about .contents .skill .skill_ul li {
  margin-right: 15%;
  width: 30%;
}

aside .about .contents .skill .skill_ul li img {
  width: 50%;
}

aside .about .contents .skill .skill_ul li .skill_title {
  font-size: 20px;
  width: 150px;
}

aside .about .contents .skill .skill_ul li .skill_txt {
  font-size: 16px;
}

@-webkit-keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrow_down {
  0% {
    top: 28px;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 28px;
  }
}

@keyframes arrow_down {
  0% {
    top: 28px;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 28px;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 3%;
  left: auto;
}

.swiper-button-prev {
  left: 3%;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-weight: 700;
  font-size: 50px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
/*# sourceMappingURL=index.css.map */