@import "./_common";
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
    font-family: "Do Hyeon";
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap'); 
header {
    position: fixed;
    z-index:8;
    width: 100%;
    left: 0;
    top: 0;
    font-family: "Do Hyeon", sans-serif;
    padding: 20px;
    nav{
        display:none;
        line-height:1.2;
        a{
            
            color:#000;
            text-transform: uppercase;
        }
        a:hover{
            color:#FFB6C1
        }
    }
    nav.active{
        display:block;
        
        animation: menu .3s forwards;
    }
    @keyframes menu {
        0%{
            transform: translateX(10%);
            opacity: 0;
        }
        100%{
            transform: translateX(0%);
            opacity: 1;
        }
    }

    .head {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p.burger-menu {
            display: flex;
            align-items: center;
            
            span {
                display:inline-block;

            }
            a {
                margin-left: 5px;
                position:relative;
                width: 20px;
                
                span {
                    position:absolute;
                    left:0; top:-3px;
                    border-top: 2px solid #000;
                    width: 100%;
                    height: 5px;
                    display: block;
                    transform-origin: center;
                    transition: 0.5s;
                }
                span:nth-of-type(1) {
                    transform: translateY(-5px);
                }
                span:nth-of-type(3) {
                    transform: translateY(5px);
                }
            }
            // active
            &.active{
                > span{display:none;}
                > a{
                    span:nth-of-type(1) {
                        transform: rotate(45deg) translateX(-1px) ;

                    }
                    span:nth-of-type(2) {
                        transform: translateY(0px);
                        opacity: 0;
                    }
                    span:nth-of-type(3) {
                        transform: rotate(-45deg) translateX(1px) ;
                    }
                }
                
            }
            
        }
    }
}

main {
    font-family: "Do Hyeon", sans-serif;

    // // C15AF4  9400D3 FD93F9

    // background-color:#9400D3;
    // color:#aaaaaa;
    // background-color:#464646;
    // color:#fff;

    article {

        height: 100vh;
        display: flex;
        align-items: center;
        .intro {
            width: 100%;
            padding:0 12.5%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            .txt {
                width: 80%;
                // white-space: pre-line;
                h2 {
                    font-size: 150px;
                    letter-spacing: 6px;
                    line-height: 1;
                }
                p {
                    font-size: 40px;
                    letter-spacing: 3px;
                }
            }
            .view {
                width: 50%;
                figure {
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .swiper-slide{
            
            .work{
                display: flex;
                // justify-content: space-between;
                // width: 100%;
                .work_view{
                    width:1040px;
                    border:3px solid #000;
                    border-radius:5%;
                    height:500px;
                }
                .work_txt{
                    white-space: pre-line;
                    width:40%;
                    padding:5%;
                    p{
                        font-size:22px;
                    }
                }
                .work2_view{
                    // z-index:9999;
                    width:360px;height: 640px;
                    border: 3px solid #000;
                    border-radius: 10%;
                }
            }
        }
        .next {
            position: absolute;
            right: 3%;
            top: 40%;

            span {
                // position:absolute;
                // right:0;top:0;
                display: block;
                border-right: 4px solid #000;
                width: 100px;
                height: 40px;
            }
            span:nth-child(1) {
                transform: rotate(-45deg);
                transform-origin: right bottom;
            }
            span:nth-child(2) {
                transform: rotate(45deg);
                transform-origin: right top;
            }
        }
    }
}

aside {
    position: fixed;
    z-index:9;
    left:12.5%; bottom: 0;
    width: 75%;
    text-align: center;
    transition: 0.8s;
    transform: translateY(90%);
    &.active{
        transform: translateY(10%);
    }
    .s1_arrow {
        display: inline-block;
        position: relative;
        text-align: center;
        // animation:arrow_down 1.5s infinite;
        .scroll-arrow {
            width: 8px;
            height: 8px;
            border-right: 3px solid #000;
            border-bottom: 3px solid #000;
            transform: rotate(-135deg);
            animation: arrow-wave 1s infinite;
            animation-direction: alternate;
        }
        .scroll-arrow:nth-child(1) {
            animation-delay: 0.1s;
        }
        .scroll-arrow:nth-child(2) {
            margin-top: 6px;
            animation-delay: 0.2s;
        }
    }
    &.active .s1_arrow{
        transform: rotate(-180deg);
    }
    .profile {
        p {
            font-size: 25px;
            padding-bottom: 1.5%;
        }
    }
    .about {
        font-family: 'Noto Sans KR', sans-serif;
        margin-top:20px;
        background: rgb(20, 20, 20);
        // color:#10f009;
        color: #fff;
        width: 100%;
        height: 90vh;
        overflow: auto;
        // margin:5%;
        h2 {
            font-size: 90px;
            margin-top:50px;
        }
        .contents {
            .who{
                // text-align: left;
                // border:3px solid #FFB6C1;
                width:80%;
                align-items: center;
                margin:0 auto auto ;
                padding:0 5%;
                p{
                    font-size:50px;
                    margin: 2% auto;
                }
                .who-box{
                    margin:5% auto ;
                    display: flex;
                    
                .left{
                    // border:1px solid #f00;
                    width:40%;
                    .photo{
                        // padding:%;
                        width:70%;
                        // margin:0 auto;
                       // transform: translate(-30px,-50px);
                        img{width:100%;}
                        }
                    }
                .right{
                    text-align: left;
                    padding-top:30px;
                    // border:1px solid #f00;
                    strong{
                        font-size:20px;
                        font-family : 'Noto Sans KR';
                    }
                    width:60%;
                    .who-txt{
                        font-size:16px;
                        font-family : 'Noto Sans KR';

                        }
                    .icon{
                        padding:5% 0;
                        .icon_ul{
                            display: flex;
                            
                            li{
                                text-align: center;
                                padding:0 5%;
                                // img{width:70%}
                                .icon_txt{
                                    font-size:16px;
                                }
                            }
                            }
                        }
                    }
                }
            }
            .skill{
                width:80%;
                margin: 0 auto;
                padding-bottom:10%;
                p{
                    font-size:50px;
                    margin:5% 0 6% 0;
                }
                .skill_ul{
                    overflow-x: scroll;
                    display: flex;
                    li{
                        margin-right:15%;
                        width:50%;
                        img{width:100%;}
                        .skill_title{
                            font-size:20px;
                            width:150px;
                        }
                        .skill_txt{
                            font-size:16px;
                        }
                    }
                }
            }
            }
            
        }
    }


@keyframes arrow-wave {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes arrow_down {
    0% {
        top: 28px;
    }
    50% {
        top: 40px;
    }
    100% {
        top: 28px;
    }
}



// ========================swiper=================================

  .swiper-slide {
    
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
// .swiper-button-next{}
 .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 3%;
    left: auto;
}

.swiper-button-prev { left: 3%; }


.swiper-button-next, .swiper-button-prev {
position: absolute;
top: 50%;
width: calc(var(--swiper-navigation-size)/ 44 * 27);
height: var(--swiper-navigation-size);
margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
z-index: 10;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
color: #000;
}
.swiper-button-next:after, .swiper-button-prev:after {
font-family: swiper-icons;
font-weight: 700;
font-size:50px;
text-transform: none!important;
letter-spacing: 0;
text-transform: none;
font-variant: initial;
line-height: 1;
}